ul li a{
    text-decoration:none;
    color: rgb(70, 70, 70);
}

.Footer a{
    text-decoration:none;
    color: rgb(31, 29, 29);
}

ul li{
    line-height: 35px;
    padding-left: 0px;
}

ul li :hover{
    color: rgb(40, 36, 36);
   border-bottom: 2px solid black;
  
}

.Footer a:hover{
    color: rgb(40, 36, 36);
   
}

#h3{
    color: grey;
}

