
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}


/* common css */

.text-906{
    color:#90604c;
}

.bg-906{
    background-color: #90604c;
    text-decoration: none;
    border-radius: 0;
    color: white;
    padding: 15px;
}

.bg-906:hover{
    background-color: #90604c;
    text-decoration: none;
    color: white;
}

.fs-sand {
    font-family: "IBM Plex Sans", sans-serif;
    font-family: "Quicksand", sans-serif;
  }
  
/* end */



/* Blog css start */

.card-img {
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 ;
  }
  
  .card-img img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 15em;
    object-fit: cover;
    transition: 0.7s all ease-out;
        
  }
  
  .card-date {
    font-size: 12px;
  }
 
  .cd a {
    text-decoration: none;
  }
  
  .cd a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    /* text-underline-offset: 3px; */
  }
  
  .card-img img:hover {
    transform: scale(1.1);
  }

  /* Blog css end */



/*  Hamper css start */
  .hamper-bg{
    background-color:whitesmoke;
}

/* .img-fluid{
    width: 100%;
} */

/* Hamper css end */




  /* Testimonial css Start */
.testimonial i {
    color: gold;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .testimonial {
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  /* .testimonial::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(65% - 0px);
    left: calc(16% - 15px);
    transform: rotate(45deg);
    background-color: #f5f5f5;
  }
  
  @media screen and (max-width: 780px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(68% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
    .slick-prev {
      left: -10px;
      top: 125px;
      background-color: dimgray;
    }
    .slick-next {
      right: -10px;
      top: 125px;
      background-color: dimgray;
    }
  }
  
  @media screen and (max-width: 440px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(56% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
    .slick-prev {
      left: -10px;
      top: 80px;
      background-color: dimgray;
    }
    .slick-next {
      right: -10px;
      top: 80px;
      background-color: dimgray;
    }
  }
  @media screen and (max-width: 380px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(50% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
  }
  
  @media screen and (max-width: 330px) {
    .testimonial::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: calc(60% - 0px);
      left: calc(16% - 15px);
      transform: rotate(45deg);
      background-color: #f5f5f5;
    }
  } */
  
  .testimonial .review {
    margin-bottom: 40px;
  }
  
  .widget a:hover {
    text-decoration: none;
  }

  /* Testimonial css end */




  /* hero-section css start */
  
.hero-section1{
    background-color: #f5f5f5;
    height: 100%;
}

.hero-section1-img{
    max-width: 100%;
    max-height: 100%;
    height: 472px;
    object-fit: cover;
    width: 100%;
}
  /*hero-section css end  */



  /* gift card css start */
  .fs-14 {
    font-size: 14px;
  }
  
  .Giftcard-bg {
    background-color: #f5f5f5;
  }
  
  .Giftcard-bg .share a {
    text-decoration: none;
  }
  
  .Giftcard-bg .share a:hover {
    text-decoration: underline;
  }
  
  .card-btn-price {
    background-color: #90604c;
    text-decoration: none;
    border: 1px solid #a78170;
    padding: 5px 20px;
    color: white;
    border-radius: 20px;
  }
  
  .card-btn-price1 {
    color: #90604c;
    text-decoration: none;
    border: 1px solid #a78170;
    padding: 5px 20px;
    border-radius: 20px;
  }
  
  .card-btn-price1:hover {
    border: 1px solid #90604c;
  }
  /* gift card css end */





  /* featured css start */

  /* .feat-row {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around;
  }
  
  .feat-img {
    width: 200px;
    max-width: 100%;
  } */
  
  
  
  /* @media screen and (max-width: 900px) {
    .feat-img {
      width: 300px;
      max-width: 100%;
    }
  }
  
  @media screen and (max-width: 500px){
      .feat-row {
          display: block ;
          
        }
  } */

  /* featured css end */